body {
    margin: 0px;
    padding: 0px;
    font-family: 'Mako', sans-serif;;
}

#top_nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    background-color: #0095ce;
}

#left_nav {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 200px;
    background-color: #333333;
}

#tasks {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 200px;
    right: 0px;
}

#tasks > div:first-child {
    position: absolute;
    height: 100%;
    width: 50%;
    border-right: 1px solid gray;
}

#tasks div.task {
    padding-left: 10px;
}

#tasks p.title {
    margin: 5px 0px 0px 0px;
    font-size: 20px;
}

#tasks p.next_step {
    margin: 5px 0px 0px 10px;
}

#tasks p.impact {
    margin: 5px 0px 12px 10px;
}
